<link href="/public/css/home.css" rel="stylesheet">

<section class="d-flex flex-column align-items-center m-auto" style="width: 600px;">
    <h1 class="w-100 text-center">Edicion finalizada</h1>
    <p class="w-100 text-center">{{mensaje}} </p>
    <a href="/home/showEditor" class="bg-color-pink p-2 mb-4 w-75 text-center">Volver al menu de editor</a>
</section>