<link href="/public/css/home.css" rel="stylesheet">
<section class="d-flex flex-column align-items-center m-auto" style="width: 600px;">
    <h1 class="w-100 text-center">¡Bienvenido, {{usuario}}!</h1>
    <img class="mb-4 text-center" src="{{logo_url}}" alt="Logo QuizCode" height="300px" width="80%" style="object-fit: contain">
    <a href="/home/playGame" class="bg-color-pink p-2 mb-4 w-75 text-center">EDITAR PREGUNTAS</a>
    <a href="#" class="bg-color-pink p-2 mb-4 w-75 text-center">VER REPORTES</a>
    <a href="#" class="bg-color-pink p-2 mb-4 w-75 text-center">VER SUGERIDAS</a>
</section>