<link href="/public/css/pregunta.css" rel="stylesheet">
<h1>Editar pregunta {{enunciado}} {{id}}</h1>
<div class="container">
  <form class="col-12 col-sm-8 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center" action="/editor/processEdit" method="POST" enctype="multipart/form-data" id="formulario-registro">

    {{#error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/error}}
      <label for="enunciado">Enunciado</label>
      <input type="text" name="enunciado" placeholder="enunciado" aria-label="Nombre" value="{{enunciado}}">
      <label for="respuesta_correcta">Respuesta correcta</label>

      <input type="text" name="respuesta_correcta"
      placeholder="{{respuesta_correcta}}" aria-label="respuesta_correcta" value="{{respuesta_correcta}}">
      <input type="hidden" name="IDRespuestaCorrecta"value="{{idRespuestaCorrecta}}">

        {{#respuestas}}
        <label for="name">Respuesta incorrecta #{{indice}}</label>
        <input type="hidden" name="ID{{name}}"value="{{id}}">
        <input type="text" name="{{name}}" placeholder="{{respuesta}}" aria-label="respuesta_incorrecta" value="{{respuesta}}">
        {{/respuestas}}

        <select name="idCategoria">
            <option value="{{categoriaActual.id}}">{{categoriaActual.id}}- {{categoriaActual.descripcion}}</option>
            {{#categorias}}
                <option value="{{id}}">{{id}}- {{descripcion}}</option>
            {{/categorias}}
        </select>

        <button type="submit">Guardar cambios</button>

      <input type="hidden" name="idPregunta" value="{{id}}">
      </form>
</div>