<link href="/public/css/pregunta.css" rel="stylesheet">
<h1>Nueva pregunta</h1>

  <form method="POST" enctype="multipart/form-data" id="formulario-registro"
  class="m-auto d-flex flex-column align-items-center" action="/editor/processNuevaPregunta"
  >

    {{#error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/error}}
        <div class="w-100">
            <select name="idCategoria" class="text-center bg-color-violet w-100"
                    style="border-radius: 25px 25px 0 0; cursor: pointer">
                {{#categorias}}
                    <option value="{{id}}">{{id}}- {{descripcion}}</option>
                {{/categorias}}
            </select>

            <input type="text" name="enunciado" placeholder="enunciado" aria-label="Nombre" value="{{enunciado}}"
            class="text-center p-4 w-100" style="background: #ab8dd3; color:white; border:none;">

        </div>
        <div class="w-100 d-flex flex-column">
                <div class="d-flex justify-content-evenly">
                    <label for="respuesta_correcta">Respuesta correcta</label>
                </div>
                <div class="d-flex justify-content-evenly">
                      <input type="text" name="respuesta_correcta" class="w-75 bg-color-pink"
                      placeholder="respuestacorrecta" aria-label="respuesta_correcta" value="respuesta_correcta">
                </div>

                <div class="d-flex justify-content-evenly">
                    <label for="name">Respuesta incorrecta #1</label>
                </div>
        <div class="d-flex justify-content-evenly">
            <input type="text" name="respuesta1" placeholder="respuesta incorrecta 1" aria-label="respuesta_incorrecta" value="respuesta1" class="w-75 bg-color-pink">
        </div>
        <div class="d-flex justify-content-evenly">
            <input type="text" name="respuesta2" placeholder="respuesta incorrecta 2" aria-label="respuesta_incorrecta" value="respuesta2" class="w-75 bg-color-pink">
        </div>
        <div class="d-flex justify-content-evenly">
            <input type="text" name="respuesta3" placeholder="respuesta incorrecta 3" aria-label="respuesta_incorrecta" value="respuesta3" class="w-75 bg-color-pink">
        </div>


        <button type="submit" class="d-flex justify-content-center align-self-center w-25 mt-4 bg-color-pink"
        style="text-decoration: none;text-align: center;">Guardar cambios</button>
        </div>
      </form>
