<link href="/public/css/pregunta.css" rel="stylesheet">
<section class="d-flex flex-column align-items-center m-auto" style="width: 600px;">
    <h1>Partida finalizada</h1>
    <h2> Hiciste {{puntaje}} puntos</h2>
    <p class="text-center p-4 w-100" style="background: #ab8dd3;color: white;">
        {{pregunta.enunciado}}
    </p>

    {{#pregunta.respuestas}}
        <button disabled type="submit" name="respuesta" value="{{.}}" class="w-100 mt-4 bg-color-pink" style="text-decoration: none;text-align: center;">{{.}}</button>
    {{/pregunta.respuestas}}

    <a href="/home/playGame" class="bg-color-violet p-2 mt-4 w-100 text-center">Crear nueva partida</a>

</section>

<script>
    let respuestaCorrecta = "{{pregunta.respuesta_correcta}}"
    let respuestaUsuario = "{{respuesta_usuario}}"

    document.querySelectorAll('.bg-color-pink').forEach(respuesta =>{
        if(respuesta.value.trim() === respuestaCorrecta.trim()){
            respuesta.classList.add('bg-success', 'text-white')
        }

        if(respuesta.value.trim() === respuestaUsuario.trim()){
            respuesta.classList.add('bg-danger', 'text-white')
        }
    })
</script>