<link href="/public/css/home.css" rel="stylesheet">
<section class="d-flex flex-column align-items-center m-auto" style="width: 600px;">
    <h1>Respuesta incorrecta</h1>
    <h2> Hiciste {{puntaje}}  puntos </h2>
    <a class="bg-color-pink p-2 mb-4 w-75 text-center">Reportar pregunta</a>
    <h3>Partida finalizada</h3>
    <a href="/partida/playGame" class="bg-color-pink p-2 mb-4 w-75 text-center">Crear nueva partida</a>
    <a href="#" class="bg-color-pink p-2 mb-4 w-75 text-center">Sugerir una nueva pregunta</a>
</section>