<link rel="stylesheet" href="/public/css/login.css">

    <section class="d-flex flex-row justify-content-center align-items-center m-5">
        <form class="col-12 col-sm-8 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center" method="POST" action="/usuario/processLogin">
            <h1 class="text-violet mb-4 text-center">INICIAR SESION</h1>

            <img class="mb-4 text-center" src="{{logo_url}}" alt="Logo QuizCode" height="300px" width="80%" style="object-fit: contain">

            {{#error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/error}}

            <input class="w-100 input-form mb-3 p-2" name="correo" type="text" placeholder="Correo electrónico" aria-label="Correo electrónico">
            <input class="w-100 input-form mb-3 p-2" name="contrasenia" type="password" placeholder="Contraseña" aria-label="password">

            <p class="text-center text-violet">¿No tienes una cuenta? <b><a class="text-pink" href="/usuario/showRegisterForm">Regístrate</a></b></p>

            <button class="w-100 bg-color-violet text-white" type="submit">Iniciar sesión</button>
        </form>
    </section>