<link href="/public/css/game.css" rel="stylesheet">
<div class="ruleta-container">
    <img class="w3-margin-bottom" src="{{logo_url}}" alt="Logo QuizCode"  height="150px" width="50%" style="object-fit: contain">

    <div class="ruleta" id="ruleta">
        <div class="categoria historia">Historia</div>
        <div class="categoria arte">Arte</div>
        <div class="categoria ciencia">Ciencia</div>
        <div class="categoria deporte">Deporte</div>
        <div class="categoria geografia"><p>Geografia</p></div>
        <button class="btn-girar" onclick="girarRuleta()">¡Girar!</button>
    </div>

    <button id="btn-jugar" disabled onclick="window.location.href='/partida/pregunta/'">
        ¡JUGAR!
    </button>
</div>

<script>
    const botonJugar = document.getElementById("btn-jugar");
    botonJugar.disabled = false

    function girarRuleta() {
        const ruleta = document.getElementById("ruleta");
        const grados = Math.floor(Math.random() * 360) + 1440;

        ruleta.style.transition = `transform ${3000/1000}s ease-out`;
        ruleta.style.transform = `rotate(${grados}deg)`;

        setTimeout(() => {
            botonJugar.disabled = false
            botonJugar.onclick = () => {
                window.location.href = '/partida/pregunta';
            };
        }, 3000);
    }
</script>

