<link href="/public/css/pregunta.css" rel="stylesheet">
<section class="m-auto d-flex flex-column align-items-center" style="width: 90%; max-width: 550px">

    <div>
        <h2 class="text-center bg-color-violet" style="border-radius: 25px 25px 0 0">{{categoria}}</h2>
        <p class="text-center p-4" style="background: #ab8dd3;color: white;">
            {{enunciado}}
        </p>
    </div>

    {{#respuestas}}
        <a class="w-100 mt-4 bg-color-pink" style="text-decoration: none;text-align: center;">{{.}}</a>
    {{/respuestas}}

    <a class="w-100 mt-4 bg-color-violet" style="text-decoration: none;text-align: center;">REPORTAR PREGUNTA</a>

</section>