<link href="/public/css/pregunta.css" rel="stylesheet">
<section class="m-auto d-flex flex-column align-items-center" style="width: 90%; max-width: 550px">

    <div class="barra-de-carga w-100 d-flex justify-content-between">
<!--        <i class="bi bi-stopwatch-fill"></i>-->

        <div id="barra"></div>

    </div>

    <div class="w-100">
        <h2 class="text-center bg-color-violet w-100" style="border-radius: 25px 25px 0 0; background: {{pregunta.categoria.color}}">{{pregunta.categoria.descripcion}}</h2>
        <p class="text-center p-4 w-100" style="background: #ab8dd3;color: white;">
            {{pregunta.enunciado}}
        </p>
    </div>

    <form method="POST" action="/partida/responder">
        {{#pregunta.respuestas}}
            <button type="submit" name="respuesta_usuario" value="{{.}}" class="w-100 mt-4 bg-color-pink" style="text-decoration: none;text-align: center;">{{.}}</button>
        {{/pregunta.respuestas}}
    </form>

<!--    <a class="w-100 mt-4 bg-color-violet" style="text-decoration: none;text-align: center;">REPORTAR PREGUNTA</a>-->

    <script>
        let respuestaSeleccionada = false

        document.querySelectorAll('.bg-color-pink').forEach(respuesta =>{
            respuesta.addEventListener('click', () =>{
                respuestaSeleccionada = true;
            })
        })

        setTimeout(() =>{
            if(!respuestaSeleccionada){
                window.location.href = '/partida/endGame'
            }
        }, 10000)
    </script>
</section>