<link rel="stylesheet" href="/public/css/profile.css">

<section class="container d-flex flex-column align-items-center" style="width: 90%; max-width: 550px;">

    <article class="d-flex  justify-content-between w-100">
        <div class="d-flex flex-column align-items-center" style="width: 200px">
            <img class="rounded-circle w-100" src="/{{foto_perfil}}" alt="Foto de perfil">
            <a class="bg-color-violet w-100 text-center mt-4" href="#">EDITAR PERFIL</a>
        </div>

        <div class="flex flex-column" style="width: 45%">
            <h2 class="text-violet">
                <i class="bi bi-qr-code" id="boton-qr" style="cursor:pointer;" title="Ver QR"></i>
                {{usuario}}
            </h2>
            <ul class="list-group mt-4">
                <li class="list-group-item"><span>#1</span> en el ranking</li>
                <li class="list-group-item"><span>0</span> Partidas jugadas</li>
                <li class="list-group-item"><span>0</span> Partidas ganadas</li>
                <li class="list-group-item"><span>0</span> Partidas perdidas</li>
                <li class="list-group-item"><span>0</span> Puntos totales</li>
            </ul>
        </div>
    </article>

    <article class="mt-4 w-100">
        <h3><i class="bi bi-geo-alt-fill"></i></h3>
        <iframe class="mt-2 mb-2 w-100 border border-4" style="height: 250px"
                id="mapa"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="{{mapa_url}}">
        </iframe>
    </article>

    <a href="/usuario/logout" class="btn btn-danger">Cerrar Sesión</a>
</section>

<dialog id="modal-qr">
    <i class="bi bi-x-lg" id="boton-cerrar-modal" style="position: absolute; top: 10px; right: 10px; cursor: pointer"></i>
    <h3>Escaneame!</h3>
    <img src="{{url_qr}}">
</dialog>

<script>
    const modal_qr = document.querySelector('#modal-qr')
    const boton_mostrar_qr = document.querySelector('#boton-qr')
    const boton_cerrar_modal = document.querySelector('#boton-cerrar-modal')

    boton_mostrar_qr.addEventListener('click', () =>{ modal_qr.showModal(); })
    boton_cerrar_modal.addEventListener('click', () =>{ modal_qr.close(); })
</script>