<section class="container-fluid d-flex flex-column align-items-center justify-content-center mt-4">
    <h1 class="text-violet my-4">Perfil de {{nombre_perfil}}</h1>

    <article class="d-flex flex-column flex-md-row align-items-center justify-content-around w-75 mb-4">
        <div class="d-flex flex-column align-items-center mb-3 mb-md-0">
            <img src="/{{foto_perfil_visitado}}" alt="Foto de Perfil" class="rounded-circle" style="height: 250px; width: 250px;">
            <p class="mt-2 text-violet fs-5">{{nombre_perfil}}</p>
            {{#es_mi_perfil}}
                <p class="text-muted fst-italic">¡Este es tu perfil!</p>
            {{/es_mi_perfil}}
        </div>
        <div>
            <h2 class="text-violet"><i class="bi bi-qr-code" id="boton-qr" style="cursor:pointer;" title="Ver QR"></i>{{nombre_perfil}}</h2>
            <p><strong>Correo:</strong> {{correo_perfil}}</p>
            <p><strong>Nombre Completo:</strong> {{apellido_perfil}}, {{nombre}}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{fecha_nacimiento_perfil}}</p>
            <p><strong>Sexo:</strong> {{sexo_perfil}}</p>
            <p><strong>Ubicación:</strong> {{ciudad_perfil}}, {{pais_perfil}}</p>
        </div>
    </article>


    <h2 class="text-violet mb-3">Historial de Partidas</h2>
    {{^historial_partidas_visitado}}
        <p>Este usuario aún no ha jugado ninguna partida.</p>
    {{/historial_partidas_visitado}}
        <div class="table-responsive">
            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col">Partida</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                {{#historial_partidas_visitado}}
                <tbody>
                    {{#.}}
                    <tr>
                        <td>{{numero}}</td>
                        <td>{{puntaje}}</td>
                    </tr>
                    {{/.}}
                </tbody>
                {{/historial_partidas_visitado}}
            </table>
        </div>

    <div class="mt-4">
        <h2 class="text-violet">Ubicación en el mapa</h2>
        <div class="map-container">
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="{{mapa_url}}">
            </iframe>
        </div>
    </div>
</section>

<dialog id="modal-qr">
    <i class="bi bi-x-lg" id="boton-cerrar-modal" style="position: absolute; top: 10px; right: 10px; cursor: pointer"></i>
    <h3>Escaneame!</h3>
    <img src="{{url_qr}}">
</dialog>

<script>
    const modal_qr = document.querySelector('#modal-qr')
    const boton_mostrar_qr = document.querySelector('#boton-qr')
    const boton_cerrar_modal = document.querySelector('#boton-cerrar-modal')

    boton_mostrar_qr.addEventListener('click', () =>{ modal_qr.showModal(); })
    boton_cerrar_modal.addEventListener('click', () =>{ modal_qr.close(); })
</script>