<section class="container my-5">
    <h1 class="text-center text-violet mb-4">Ranking de Jugadores</h1>

    <div class="table-responsive mb-5">
        <table class="table table-striped table-hover shadow-sm">
            <thead class="bg-color-violet text-white">
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Puntaje Total</th>
                    <th scope="col">Partidas Jugadas</th>
                </tr>
            </thead>
            <tbody>
                {{#jugadores}}
                    <tr>
                        <td>{{posicion}}</td>
                        <td><a href="/usuario/showProfileById?id={{id_usuario}}" class="text-pink text-decoration-none">{{nombre}}</a></td>
                        <td>{{puntaje_total}}</td>
                        <td>{{partidas_jugadas}}</td>
                    </tr>
                {{/jugadores}}
            </tbody>
        </table>
    </div>

    <h2 class="text-center text-violet mb-4">Mi Historial de Partidas</h2>

    {{^partidas}}
        <p class="text-center">Aún no has jugado ninguna partida. ¡Anímate a jugar!</p>
    {{/partidas}}
    {{#partidas}}
    <div class="table-responsive">
        <table class="table table-striped table-hover shadow-sm">
            <thead class="bg-color-pink text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Puntaje</th>
                </tr>
            </thead>
            <tbody>
                {{#.}}
                    <tr>
                        <td>{{numero}}</td>
                        <td>{{puntaje}}</td>
                    </tr>
                {{/.}}
            </tbody>
        </table>
    </div>
    {{/partidas}}
</section>