<section class="d-flex flex-column align-items-center m-auto" style="width: 600px;">
  <h1>¡Trampa detectada!</h1>
  <p class="text-center p-4 w-100" style="background: #ffcccc; color: #a94442;">
    {{error}}
  </p>
  <a href="/home/show" class="bg-color-violet p-2 mt-4 w-100 text-center">Volver al inicio</a>
</section>