<link rel="stylesheet" href="/public/css/validarCuenta.css">

<section class="w3-container text-violet" style=" justify-items: center;">

<div class="w3-card w3-padding w3-margin w3-round-large bg-color-pink w3-animate-opacity" style="width: 60%; align-self: center; margin: auto;" >
    <h3 class="text-violet w3-center">Validar Cuenta</h3>

    <form action="/usuario/processValidation" method="POST" enctype="multipart/form-data">
        <!-- Email -->
        <label class="w3-text-white w3-left-align">Correo electrónico:</label>
        <input
                class="w3-input w3-border w3-round-small"
                type="email"
                name="email"
                required
                placeholder="Ej: usuario@ejemplo.com"
        >

        <!-- Token -->
        <label class="w3-text-white w3-margin-top w3-left-align">Token (6 dígitos):</label>
        <input
                class="w3-input w3-border w3-round-small"
                type="number"
                name="token"
                min="100000"
                max="999999"
                required
                placeholder="Ej: 123456"
        >

        <button type="submit" class="w3-button w3-margin-top w3-round-small bg-color-violet w3-hover-opacity btn-enviable">
            Enviar
        </button>
    </form>
</div>

</section>